<div id="<%= dom_id recipe %>">
  <p>
    <strong>Title:</strong>
    <%= recipe.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= recipe.author %>
  </p>

  <p>
    <strong>Image url:</strong>
    <img style="width: 100%;" src="<%= recipe.image_url %>" />
  </p>

  <p>
    <strong>Description:</strong>
    <%= recipe.description %>
  </p>

</div>
