<p id="notice"><%= notice %></p>


<%= form_with url: "/search", method: :get do |form| %>
  <%= form.label :query, "Search for:" %>
  <%= form.text_field :query %>
  <%= form.submit "Search" %>
<% end %>

<h1> "Results" </h1>
<%= render 'search/form' %>
<table>
    <thead>
        <tr>
           <th><%= sort_link(@q, :first_name, "First Name", default_order: :asc) %></th>
           <th><%= sort_link(@q, :last_name, "Last Name", default_order: :desc) %></th>
            <th colspan="3"></th>
        </tr>
    </thead>
    
    
     <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= @user.first_name %></td>
        <td><%= @user.last_name %></td>
        <td><%= link_to 'Show', user %></td>
      </tr>
    <% end %>
  </tbody>
    
</table>

<br>

<%= link_to 'New User', new_user_path %>